body {
    box-sizing: border-box;
    margin: 0 auto;
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

